<section class="header">
    <div class="post-img">
        <img src="{{ post.image.url }}" alt="connect">
        <div class="back"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="post-details">
            <h2>{{ post.title }}</h2>
            <h5>posted by {{ post.author }} on {{ post.date_posted | date:"M, jS Y" }}</h5>
        </div>
        {% if request.user == post.author %}
        <div class="operations">
            <div class="edit inline-block"><button type="submit"><a href="{% url 'update-post' post.id %}"><i class="fa-regular fa-pen-to-square"></i></a></button></div>
            <div class="delete inline-block"><i class="fa-solid fa-trash"></i></div>
        </div>
        {% endif %}
    </div>
</section>

<section class="taglist">
    <ul>
        {% with post.genre|tagSplit:"," as tags%}
            {% for tag in tags %}
                <li>#{{ tag }}</li>
            {%endfor%}
        {% endwith %}
    </ul>
</section>

<section class="content">
    <div class="container">
        <p>{{ post.content }}</p>
    </div>
</section>


    <!-- <button class="back" type="submit"><a href="{% url 'post-page' %}" >Back</a></button>
    <section class="header">
        <h2>{{ post.title }}</h2>
        <div class="user-details">
            <div class="img-container"><img src="{{  }}" alt="connect"></div>
            <h5>posted by @{{post.author}} on {{post.date_posted | date:"M, jS Y"}}</h5>
            {% if request.user == post.author %}
                <div class="operations">
                    <div class="edit inline-block"><button type="submit"><a href="{% url 'update-post' post.id %}"><i class="fa-regular fa-pen-to-square"></i></a></button></div>
                    <div class="delete inline-block"><i class="fa-solid fa-trash"></i></div>
                </div>    
            {% endif %}
        </div>
    </section>
    <section class="taglist">
        <ul>
            {% with post.genre|tagSplit:"," as tags%}
                {% for tag in tags %}
                    <li>#{{ tag }}</li>
                {%endfor%}
            {% endwith %}
        </ul>
    </section>
    <hr>
    <section class="content">
        <p>{{post.content}}</p>
    </section> -->