* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
}

.hide-display {
  display: none;
}

.post-likes-count, .post-layout-sidebar .value{
  color: #e6e6e6;
  text-align: center;
  padding-top: 5px;
  font-size: 0.8rem;
}

.post-layout-navigator {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 10;
  padding: 5px;
  border-radius: 10%;
  background-color: rgba(17, 2, 102, 0.644);
  color: #faf9f6;
  cursor: pointer;
  border: 1px solid black;
}

.post-layout {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 0.15fr repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: fixed;
}

.post-layout-sidebar { 
  grid-area: 1 / 1 / 6 / 2; 
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.post-layout-sidebar i{
  cursor: pointer;
  color: #e6e6e6;
}

.post-like-button:hover {
  color: rgb(255, 3, 62);
}

.post-bookmark-button:hover {
  color: rgb(255, 192, 0);
}

.post-layout-main { 
  grid-area: 1 / 2 / 6 / 6;
  overflow: auto;
  position: relative;
}

.bg-modal {
  position: sticky;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute; /*this will take body tag as parent element*/
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-content {
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  padding: 10px 20px;
}

.modal-content .close {
  top: 0;
  right: 14px;
  position: absolute;
  font-size: 42px;
  font-weight: 700;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.modal-content h1 {
  margin-top: 50px;
  padding: 5px 8px;
  color: #333;
}

.modal-content .confirm {
  padding: 5px 8px;
  font-size: 1.2rem;
  background-color: rgb(58, 77, 245);
  border: 2px solid rgb(3, 1, 95);
  border-radius: 10px;
}

.modal-content .cancel {
  padding: 5px 8px;
  font-size: 1.2rem;
  background-color: rgb(231, 45, 45);
  border: 2px solid rgb(126, 0, 0);
  border-radius: 10px;
}

form a {
  color: #fff;
  text-decoration: none;
}

/* single post styling */

.header {
  width: 100%;
  height: 350px;
  background-color: cornflowerblue;
}

.taglist {
  width: 100%;
  margin-top: 2rem;
}

.taglist ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.2rem;
}

.inline-block {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.operations .delete,
.operations .edit {
  cursor: pointer;
}

.post-img {
  padding: 20px 15px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.post-img .back {
  margin-right: auto;
  cursor: pointer;
}

.post-img .operations {
  margin-left: auto;
}

.post-details {
  flex-grow: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.post-details h2 {
  font-size: 3.75rem;
}

.post-details h5 {
  font-size: 1.1rem;
}

.operations a {
  color: #fff;
}

.content {
  width: 100%;
  line-height: 28px;
  margin-top: 2rem;
}

.taglist .container,
.content .container,
.comment-section .container {
  height: 100%;
  width: 1200px;
  padding: 10px 15px;
  margin: 0 auto;
  background-color: #fff;
}

.content .container img{
  border-radius: 10px;
}

.back a {
  color: #fff;
}

.color1 {
  border-left: 3px solid cornflowerblue;
}

.color2 {
  border-left: 3px solid coral;
}

.color {
  padding: 5px 9px;
  font-weight: bold;
  background-color: darkgray;
  border-radius: 15px;
}

.color3 {
  border-left: 3px solid crimson;
}

.color4 {
  border-left: 3px solid green;
}

/* post create form */
.container {
  width: 100%;
  background: #333;
  overflow: auto;
}

h1 {
  text-align: center;
  padding: 12px 15px;
  margin-top: 15px;
  color: #fff;
}

form {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.fieldWrapper {
  text-align: center;
}

input {
  padding: 12px 15px;
  width: 95%;
  background: transparent;
  outline: none;
  border-radius: 25px;
  border: 1px solid rgb(180, 180, 180);
  color: #fff;
}

input::placeholder {
  color: grey;
}

select {
  width: 95%;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid rgb(180, 180, 180);
  background: transparent;
  color: #fff;
}

option {
  color: #000;
}

textarea {
  height: 90vh;
  width: 95%;
  border-radius: 25px;
  border: 1px solid rgb(180, 180, 180);
  padding: 12px 15px;
  background: transparent;
  color: #fff;
  outline: none;
}

.btn {
  margin-bottom: 40px;
  width: 120px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(0, 0, 80);
  background-color: rgb(1, 1, 155);
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-left: 40px;
}

input:focus {
  border: 1px solid cornflowerblue;
}

select:focus {
  border: 1px solid cornflowerblue;
}

textarea:focus {
  border: 1px solid cornflowerblue;
}

.cancel {
  padding: 10px 15px;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(231, 45, 45);
  border: 2px solid rgb(126, 0, 0);
  border-radius: 10px;
}

/* comment section */
#post-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0b415a;
}

.comment-section {
  background-color: #89cff0;
  margin-top: 2.5rem;
  padding-top: 20px;
}

.comment-section .post-comment {
  background-color: #0b415a;
  padding-bottom: 15px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.comment-section .load-comments {
  background-color: #89cff0;
}

.comment-section .load-comments .comment-block {
  background-color: #faf9f6;
  margin: 1rem;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
}

.comment-block{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.comment-block .user {
  font-weight: bold;
  font-size: 1rem;
}

.comment-block .timestamp {
  font-size: 0.7rem;
  color: #808080;
}

.comment-block p {
  margin-top: 0.4rem;
  color: #303234;
}

.comment-block-info{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  /* gap: 12px; */
}

.comment-reply {
  color: #808080;
  /* margin: 0.75rem 0 0.3rem 0; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.comment-reply .like-button {
  outline: none;
  text-align: center;
  cursor: pointer;
  margin-right: 8px;
}

.comment-reply div {
  cursor: pointer;
}

.comment-reply div i {
  cursor: pointer;
  margin-right: 8px;
}

#post-comment input {
  padding: 10px 20px;
  font-size: 1rem;
  color: #000;
  border: 1.5px solid #000;
  height: 3rem;
  border-radius: 20px;
  transition: border-color 0.2s ease-in;
  background-color: #fff;
}

#post-comment input:focus {
  border-color: orange;
}

#post-comment input::placeholder {
  opacity: 0.7;
  color: #919191;
  font-size: 1rem;
}

.comment-btn {
  height: 3rem;
  width: 4rem;
  padding: 10px;
  border: 1.5px solid #3d3d3d;
  border-radius: 20px;
  background-color: rgb(45, 115, 237);
  color: #fff;
}

.comment-btn i {
  text-align: center;
  transition: background-color 0.2s ease-in;
}

.comment-btn:hover,
.comment-btn:focus {
  background-color: rgba(67, 133, 247);
}
