{% load static %}

<div class="main">

    <div class="notification-messages">
        {% if not profile %}
        <div class="pop-up-notifications">
            <p class="notification-text"><i class="notification-check fa-solid fa-bell fa-xl" style="color: #d2a80f;"></i> Profile creation is <b>still pending</b>, please rightaway!</p>
            <i class="notification-close fa-solid fa-xmark fa-xl"></i>
        </div>
    {% endif %}
        {% if messages %}
        {% for message in messages %}
        <div class="pop-up-notifications">
            <p class="notification-text"><i class="notification-check fa-solid fa-bell fa-xl" style="color: #d2a80f;"></i> {{ message }}</p>
            <i class="notification-close fa-solid fa-xmark fa-xl"></i>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="post-create">
        <button type="submit"><a href="{% url 'create-post' %}"><i class="fa-solid fa-square-plus"></i> CREATE</a></button>
    </div>
    {% endif%}
    {% for post in posts %}
    <div class="card {% cycle 'color1' 'color2' 'color3' %}">
        <a style="color:#333; text-decoration: none;" href="{% url 'userprofile-view' post.author.profile_info.id %}">
            <div class="author-info grid">
                <img class="post-user-pic" src="{{ post.author.profile_info.profileImg.url }}" alt="user-pic">
                <div class="info-container">
                    <div class="author"><small>{{ post.author }}</small></div>
                    <div class="date-posted"><small>{{ post.date_posted | date:"M j,y" }}</small></div>
                </div>
            </div>
        </a>
        <h1 class="title">{{ post.title }}</h1>
        <ul style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start; gap: 20px;">
        {% for tag in post.tags.all %}
            <li class="color">#{{ tag }}</li>
        {% endfor %}
        </ul>
        <div class="flex" style="flex-direction: row; align-items: center; justify-content: flex-start; gap: 40px;">
            <div class="post-details flex">
                <p class="genre" style="color: #808080;"><i class="fa-regular fa-heart"></i> {{ post.likes.count }}</p>
                <p class="genre" style="color: #808080;"><i class="fa-regular fa-comment"></i> {{post.comments.count }}</p>
            </div>
            <button style="margin-right: 100px;" class="read-more" type="submit"><a href="{% url 'detailed-post' post.id %}">Read More <i class="fa-solid fa-arrow-right"></i></a></button>
        </div>
    </div>
    {% endfor %}
</div>