{% load static %}
{% load specfuncs %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/singlePage.css' %}">
    <title>Create Post</title>
</head>
<body>

    <div class="container">
        <h1>Create your Post with your touch</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    <!-- {{ field.label_tag }} <br> -->
                    {{ field | AddClass:'post-field' }}
                </div>
            {% endfor %}
            <span>
                <button type="submit" class="btn">Submit</button>
                <a href="{% url 'post-page' %}" class='cancel'>cancel</a>
            </span>

            
        </form>
    </div>
   
</body>
</html>

