{% load static %}

<div class="sidebar">
    {% if request.user.is_authenticated %}
    <div class="user-info sidebar-card">
        <h4>Hi {{ request.user }}!!</h4>
        <small>Welcome Back 😄</small>
        <hr>
        <span>Followers: <strong>2k</strong></span>
        <span>Following: <strong>10k</strong></span>
    </div>
    {% endif %}
    <div class="controls sidebar-card">
        <h3>Quick Actions</h3>
        <hr>
        <button type="submit">ASC</button>
        <button type="submit">DSC</button>
    </div>
    <div class="topics sidebar-card">
        <h3>Browse topics</h3>
        <hr>
        <ul class="topics-list">
            <li class="topic"><a href="">Ecchi</a></li>
            <li class="topic"><a href="">Romance</a></li>
            <li class="topic"><a href="">Action</a></li>
            <li class="topic"><a href="">Comedy</a></li>
            <li class="topic"><a href="">Horror</a></li>
            <li class="topic"><a href="">Supernatural</a></li>
            <li class="topic"><a href="">Thriller</a></li>
            <li class="topic"><a href="">Fantasy</a></li>
            <li class="topic"><a href="">History</a></li>
            <li class="topic"><a href="">Fiction</a></li>
            <li class="topic"><a href="">Mystery</a></li>
            <li class="topic"><a href="">Sci-Fi</a></li>
            <li class="topic"><a href="">Dark Comedy</a></li>
            <li class="topic"><a href="">Historical</a></li>
        </ul>
    </div>
</div>
