{% load static %}

<div class="sidebar">
    {% if request.user.is_authenticated %}
    <div class="user-info sidebar-card">
        <h4>Hi <a href="{% url 'profile-form' %}">{{ request.user }}</a>!!</h4>
        <small>Welcome Back 😄</small>
        <hr>
        <span>Followers: <strong>2k</strong></span>
        <span>Following: <strong>10k</strong></span>
    </div>
    {% endif %}
    <div class="controls sidebar-card">
        <h3><i class="fa-solid fa-chart-line fa-bounce" style="margin-left: 10px;"></i>  Trending</h3>
        <hr>
        <div class="trending"></div>
    </div>
    <div class="topics sidebar-card">
        <h3>Browse topics</h3>
        <hr>
        <ul class="topics-list">
            <li class="topic"><a href="{% url 'post-page' %}">All</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=ecchi">Ecchi</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=romance">Romance</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=action">Action</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=comedy">Comedy</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=horror">Horror</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=supernatural">Supernatural</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=thriller">Thriller</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=fantasy">Fantasy</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=history">History</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=fiction">Fiction</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=mystery">Mystery</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=sci-fi">Sci-Fi</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=dark">Dark Comedy</a></li>
            <li class="topic"><a href="{% url 'post-page' %}?genre=historical">Historical</a></li>
        </ul>
    </div>
</div>
