{% load static %}
{% load specfuncs %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/singlePage.css' %}">
    <title>{{ post.title }}</title>
</head>
<body>
    <button class="back" type="submit"><a href="{% url 'post-page' %}" >BACK</a></button>
    <section class="header">
        <h2>{{ post.title }}</h2>
        <div class="user-details">
            <div class="img-container">IMG</div>
            <h5>posted by @{{post.author}} on {{post.date_posted | date:"M, jS Y"}}</h5>
            <div class="operations">
                <div class="edit"><i class="fa-regular fa-pen-to-square"></i></div>
                <div class="delete"><i class="fa-solid fa-trash"></i></div>
            </div>    
        </div>
    </section>
    <section class="taglist">
        <ul>
            {% with post.genre|tagSplit:"," as tags%}
                {% for tag in tags %}
                    <li>#{{ tag }}</li>
                {%endfor%}
            {% endwith %}
        </ul>
    </section>
    <hr>
    <section class="content">
        <p>{{post.content}}</p>
    </section>
</body>
</html>